{{#each petAds as |ads|}}
<a href="#"
  class="flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row hover:bg-gray-100 adList">
  <img class="object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
    src="{{ads.image}}" alt="">
  <div class="flex flex-col justify-between p-4 leading-normal">
    <h5 class="mb-2 text-2xl font-bold tracking-tight block uppercase tracking-wide text-gray-900">
      {{ads.name}} ({{ads.breed}})
    </h5>
    <p class="mb-3 font-normal text-gray-700">{{ads.description}}</p>
  </div>
</a>
{{/each}}