<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Purrfect Pets!</title>
    <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bulma.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label><br>
        <input class="form-input" type="text" id="email-login" placeholder ="Email Address" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label><br>
        <input class="form-input" type="password" id="password-login" placeholder="Password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>New to Purrfection? Then Let's Sign Up!</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Name:</label><br>
        <input class="form-input" type="text" id="name-signup" placeholder ="Email Address" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label><br>
        <input class="form-input" type="text" id="email-signup" placeholder ="Email Address" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label><br>
        <input class="form-input" type="password" id="password-signup" placeholder ="Password" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign up</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
  <footer><p> Group 6 Project 2022</p></footer>