#petDescription {
    margin-left: 12cm;
    margin-top: 3cm;
}

/* #breederDetail {
    margin-left: 12cm;
    margin-top: 1cm;
}

#petPic {
    margin-bottom: 12cm;
} */

.adList {
    margin: 1cm;
}