<<<<<<< HEAD
=======
@tailwind base;
@tailwind components;
@tailwind utilities;


#petDescription {
    margin-left: 12cm;
    margin-top: 3cm;
}


>>>>>>> 5259c74b520694a0458e3240afbe48cbc16aa56d
.adList {
    margin: 1cm;
}

body {
    background-image: url('../images/cute-bg.png');
}



ul li:hover ul.dropdown-menu {
    display: block;
    /* Display the dropdown */
}